﻿@using Lifestoned.DataModel.Gdle;
@model List<CreateItem>

<div class="panel-heading"><h3 class="panel-title">Create List</h3></div>
<div class="panel-body panel-group">

    @if (Model != null && Model.Count > 0)
    {
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>@(Html.Label("Weenie"))</th>
                <th>@(Html.Label("Destination"))</th>
                <th>@(Html.Label("Palette"))</th>
                <th>@(Html.Label("Shade"))</th>
                <th>@(Html.Label("Quantity"))</th>
                <th>@(Html.Label("Bonded"))</th>
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td class="weenie-display">
                    @Html.DisplayFor(m => m[i].WeenieClassId)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].Destination_Binder)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].Palette)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].Shade)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].StackSize)
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].TryToBond_BooleanBinder)
                </td>
            </tr>

        }
        </tbody>
    </table>

    }

</div>
