﻿@using Lifestoned.DataModel.Gdle;
@using Lifestoned.DataModel.Shared;
@model List<IntStat>

@for (int i = 0; i < Model.Count(); i++)
{
    <div class="row row-spacer">
        <div class="col-md-3">
            @Html.DisplayFor(m => m[i].PropertyIdBinder)
        </div>
        <div class="col-md-4">
            @switch (Model[i].Key)
            {
                case (int)IntPropertyId.ItemType:
                    @Html.DisplayFor(m => m[i].ItemTypeBoundValue)
                    break;
                case (int)IntPropertyId.CreatureType:
                    @Html.DisplayFor(m => m[i].CreatureTypeBoundValue)
                    break;
                case (int)IntPropertyId.ArmorType:
                    @Html.DisplayFor(m => m[i].ArmorTypeBoundValue)
                    break;
                case (int)IntPropertyId.PaletteTemplate:
                    @Html.DisplayFor(m => m[i].PaletteTemplateBoundValue)
                    break;
                case (int)IntPropertyId.UiEffects:
                    @Html.EditorFor(m => m[i].MultiSelect, "FlagsEnumMultiSelect", new { @class = "form-control customMultiselect", enumType = typeof(UiEffects) })
                    break;
                case (int)IntPropertyId.DamageType:
                    @Html.EditorFor(m => m[i].MultiSelect, "FlagsEnumMultiSelect", new { @class = "form-control customMultiselect", enumType = typeof(DamageType) })
                    break;
                case (int)IntPropertyId.WeaponType:
                    @Html.DisplayFor(m => m[i].WeaponTypeBoundValue)
                    break;
                case (int)IntPropertyId.AttackType:
                    @Html.EditorFor(m => m[i].MultiSelect, "FlagsEnumMultiSelect", new { @class = "form-control customMultiselect", enumType = typeof(AttackType) })
                    break;
                case (int)IntPropertyId.ValidLocations:
                    @Html.DisplayFor(m => m[i].MultiSelect)
                    @*@Html.EditorFor(m => m[i].MultiSelect, "FlagsEnumMultiSelect", new { @class = "form-control customMultiselect", enumType = typeof(EquipMask) })*@
                    break;
                case (int)IntPropertyId.CurrentWieldedLocation:
                    @Html.EditorFor(m => m[i].MultiSelect, "FlagsEnumMultiSelect", new { @class = "form-control customMultiselect", enumType = typeof(EquipMask) })
                    break;
                case (int)IntPropertyId.DefaultCombatStyle:
                    @Html.DisplayFor(m => m[i].MultiSelect)
                    @*@Html.EditorFor(m => m[i].MultiSelect, "FlagsEnumMultiSelect", new { @class = "form-control customMultiselect", enumType = typeof(CombatStyle) })*@
                    break;
                case (int)IntPropertyId.MaterialType:
                    @Html.DisplayFor(m => m[i].Material_Binder)
                    break;
                case (int)IntPropertyId.WeaponSkill:
                    @Html.DisplayFor(m => m[i].SkillIdBoundValue)
                    break;
                case (int)IntPropertyId.WieldSkilltype:
                    @Html.DisplayFor(m => m[i].SkillIdBoundValue)
                    break;
                case (int)IntPropertyId.SlayerCreatureType:
                    @Html.DisplayFor(m => m[i].CreatureTypeBoundValue)
                    break;
                case (int)IntPropertyId.HeritageGroup:
                    @Html.DisplayFor(m => m[i].HeritageBinder)
                    break;
                case (int)IntPropertyId.WieldRequirements:
                    @Html.DisplayFor(m => m[i].WieldRequirementsBoundValue)
                    break;
                default:
                    @Html.DisplayFor(m => m[i].Value)
                    break;
            }
        </div>
        <div class="col-md-4">
        </div>
    </div>
}
