﻿@model List<Lifestoned.DataModel.Shared.ChangeDiscussionEntry>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#@(Html.IdFor(m => m))" data-toggle="collapse" aria-expanded="false">Discussion</a>
    </div>
    <div id="@(Html.IdFor(m => m))" class="panel-collapse collapse panel-body">
        <div class="panel-group">
            @for (int i = 0; i < Model.Count(); i++)
            {
                @Html.DisplayFor(m => Model[i])
            }

            @if ((Model?.Count() ?? 0) == 0)
            {
                <p>No comments.</p>
            }
        </div>
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary"
                    data-toggle="modal" data-target="#modal-discussion"
                    data-user="@(ViewData["UserGuid"])" data-item="@(ViewData["EntryId"])" data-type="@(ViewData["EntryType"])">
                Add Comment
            </button>
        </div>

    </div>

</div>
