﻿@if (User.IsInRole("Developer"))
{

    <div class="modal fade" id="modal-reject" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Reject Submission</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <input id="rejectUser" type="hidden" />
                        <input id="rejectEntry" type="hidden" />
                        <input id="rejectType" type="hidden" />
                        <textarea id="rejectComment" class="form-control" cols="25" rows="3"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Reject</button>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(function () {
        $('#modal-reject')
            .on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                $('#rejectUser').val(button.data('user'));
                $('#rejectEntry').val(button.data('id'));
                $('#rejectType').val(button.data('type'));
            })
            .find('.btn-primary').click(function (event) {
                var comment = $('#rejectComment').val();
                var id = $('#rejectEntry').val();
                var type = $('#rejectType').val();
                var user = $('#rejectUser').val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Reject", "Sandbox")',
                    data: {
                        id: id,
                        type: type,
                        userId: user,
                        comment: comment
                    },
                    success: function(result) {
                        window.location.reload();
                    },
                    error: function (xhr, status, p3, p4){
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });

            });
    });
    </script>
}
