﻿@using Lifestoned.DataModel.Gdle
@using Lifestoned.DataModel.Shared
@model Weenie

@{
    ViewBag.Title = "Detail";
}

@section metaCard {
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@(Model.Name)" />
    <meta property="og:image" content="@Url.Action("GetFullyLayeredPngIcon", "Resource", new { weenieClassId = Convert.ToUInt32(Model.WeenieClassId) })" />
}

<br />

<div class="btn-toolbar stuck">
    <div class="btn-group-vertical" role="group">
        <a id="preview" target="_blank" href="http://ac.yotesfan.com/10-Clothing/preview.php?id={{cid}}&setup={{sid}}&pal={{pid}}" class="btn btn-primary" title="preview"><i class="glyphicon glyphicon-search"></i></a>
    </div>

    <ul class="btn-group-vertical nav" role="group">
        <li class="active"><a data-toggle="tab" href="#general" class="btn btn-primary" title="General Properties"><i class="glyphicon glyphicon-list"></i></a></li>
        <li><a data-toggle="tab" href="#creature" class="btn btn-primary" title="Creature Properties"><i class="glyphicon glyphicon-user"></i></a></li>
        <li><a data-toggle="tab" href="#book" class="btn btn-primary" title="Book Pages"><i class="glyphicon glyphicon-book"></i></a></li>
        <li><a data-toggle="tab" href="#createlist" class="btn btn-primary" title="Create List"><i class="glyphicon glyphicon-briefcase"></i></a></li>
        <li><a data-toggle="tab" href="#generator" class="btn btn-primary" title="Generated Items"><i class="glyphicon glyphicon-duplicate"></i></a></li>
        <li><a data-toggle="tab" href="#emote" class="btn btn-primary" title="Emotes"><i class="glyphicon glyphicon-warning-sign"></i></a></li>
        <li><a data-toggle="tab" href="#history" class="btn btn-primary" title="Change Log / History"><i class="glyphicon glyphicon-calendar"></i></a></li>
    </ul>
</div>

<div id="app" class="form-horizontal">
    <lsd-weenie ref="weenie" weenie-id="@(Model.WeenieClassId)"></lsd-weenie>
</div>

@section scripts {
    @Html.Partial("EditorScript")

    @Scripts.Render("~/bundles/vue", "~/ui/shared", "~/ui/weenie")
    <script>
        Vue.use(WeenieStore);
        var weenieStore = makeWeenieService(@(Model.WeenieClassId), false, '@ViewBag.UserGuid');

        Vue.use(AutoWatchMixin);

        var app = new Vue({
            el: '#app',
            weenieStore: weenieStore
        });

    </script>
}
