@using System
@using Lifestoned.DataModel.Shared;
@using Lifestoned.DataModel.Gdle;
@model Body

<div class="panel-heading"><h3 class="panel-title">Body Part Listing</h3><a class="expand-all">Expand all</a></div>
<div class="panel-body panel-group">
    @if (Model == null)
    {
    <strong>This Weenie has no Body Parts List. Click below to add one.</strong>

    }

    @for (int i = 0; i < (Model?.BodyParts?.Count ?? 0); i++)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#bodyPart@(Html.Raw(i))">@Html.Raw("Show/Hide " + Enum.GetName(typeof(BodyPartType), Model.BodyParts[i].Key))</a>
                    <input type="button" class="btn btn-xs btn-danger pull-right" name="removeBodyPart" value="Remove" />
                    @Html.HiddenFor(m => m.BodyParts[i].Deleted)
                    @Html.HiddenFor(m => m.BodyParts[i].Key)
                </h4>
            </div>
            <div id="bodyPart@(Html.Raw(i))" class="panel-collapse collapse">
                <div class="panel-body panel-group">
                    <div class="row row-spacer">
                        <div class="col-md-2 vcenter">@Html.Label("Body Part")</div>
                        <div class="col-md-2 vcenter">@Html.EnumDropDownListFor(m => m.BodyParts[i].BodyPartType)</div>
                        <div class="col-md-6 vcenter"></div>
                        <div class="col-md-2 vcenter">
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-md-2 vcenter">@Html.Label("Damage")</div>
                        <div class="col-md-2 vcenter">@Html.TextBoxFor(m => m.BodyParts[i].BodyPart.DVal, new { @class = "form-control" })</div>
                        <div class="col-md-1 vcenter">@Html.Label("Variance")</div>
                        <div class="col-md-2 vcenter">@Html.TextBoxFor(m => m.BodyParts[i].BodyPart.DVar, new { @class = "form-control" })</div>
                        <div class="col-md-1 vcenter">@Html.Label("Height")</div>
                        <div class="col-md-2 vcenter">@Html.TextBoxFor(m => m.BodyParts[i].BodyPart.BH, new { @class = "form-control" })</div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-md-2">
                            @Html.Label("Damage Type")
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.BodyParts[i].BodyPart.DamageType_Binder, "FlagsEnum")
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#armor@(Html.Raw(i))">@Html.Raw("Show/Hide Armor Table")</a>
                        </div>
                        <div id="armor@(Html.Raw(i))" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row row-spacer">
                                    <div class="col-md-2">
                                        Base Armor
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.ArmorValues.BaseArmor, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Acid
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.ArmorValues.ArmorVsAcid, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Electric
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.ArmorValues.ArmorVsElectric, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="row row-spacer">
                                    <div class="col-md-2">
                                        Fire
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.ArmorValues.ArmorVsFire, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Cold
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.ArmorValues.ArmorVsCold, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Slashing
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.ArmorValues.ArmorVsSlash, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="row row-spacer">
                                    <div class="col-md-2">
                                        Piercing
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.ArmorValues.ArmorVsPierce, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Bludgeoning
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.ArmorValues.ArmorVsBludgeon, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Nether
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.ArmorValues.ArmorVsNether, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#targeting@(Html.Raw(i))">@Html.Raw("Show/Hide Targeting Data")</a>
                        </div>

                        <div id="targeting@(Html.Raw(i))" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row row-spacer">
                                    <div class="col-md-2">
                                        High Left Back
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.HLB, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Mid Left Back
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.MLB, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Low Left Back
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.LLB, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row row-spacer">
                                    <div class="col-md-2">
                                        High Left Front
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.HLF, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Mid Left Front
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.MLF, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Low Left Front
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.LLF, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row row-spacer">
                                    <div class="col-md-2">
                                        High Right Back
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.HRB, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Mid Right Back
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.MRB, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Low Right Back
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.LRB, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row row-spacer">
                                    <div class="col-md-2">
                                        High Right Front
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.HRF, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Mid Right Front
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.MRF, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        Low Right Front
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.BodyParts[i].BodyPart.SD.LRF, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
